body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.781) , rgba(0, 0, 0, 0.685)) , url('./images/Cse.jpg'); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 98vh;
  position: relative;
}

::-webkit-scrollbar{
  display: none;
}

/* :root {
    --first: #ffd701;
    --second : #c0c0c0;
    --third : #e3b778;
    --else : #00acbd;
  } */

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#table,
.table_head {
  padding: 15px 0;
  /* border: .5px solid rgb(194, 193, 193); */
  border-radius: 10px;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  color: white;
}

#table{
  padding-bottom: 100px;
}

.table-row {
  width: 100%;
  justify-content: space-between;
}

.tbl-row {
  background: transparent;
  width: 100%;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background: rgba(238, 238, 238, 0.116);
}

.table-cell {
  padding: 10px;
  text-align: left;
  width: 20%;
  display: inline-block;
  transition: .5s all;
}

.name {
  width: 25%;
}
.branch {
  width: 35%;
}

.head {
  padding: 3px;
  font-size: 17px;
}

.p {
  padding: 0 3px 5px;
  font-size: 13px;
  color: rgb(185, 185, 185);
}

.rank {
  text-align: right;
  width: 7%;
}

.prank {
  font-size: 2px;
  opacity: 0;
}

.heading .table-cell {
  padding-top: 0;
  padding-bottom: 5px;
}

.heading .table-cell .head {
  font-size: 13px;
}

.total {
  font-size: 18px !important;
  font-weight: 500;
}

hr {
  border: 0;
  outline: 0;
  height: 0.1px;
  background-color: rgb(190, 190, 190);
}

.res{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 32%;
}

.r {
  line-height: 35px;
  /* padding-bottom: 10px; */
  display: inline-block;
  /* width: 44%; */
  width: 35px;
  height: 35px;
  background: #f4df31;
  border-radius: 50%;
  color: black;
  font-weight: 500;
  text-align: center;
}


.title {
  text-align: center;
  font-size: 30px;
  margin: 15px 0;
}

.search,
.branch-changer,
.batch-changer,
.cg-sg,
.sort {
  transition: .5s all;
  display: inline-block;
}

.search {
  width: 40%;
  position: relative;
}

label {
  position: absolute;
  top: -15px;
  left: 3px;
  /* top : 6px; */
  font-size: 16px;
  transition: all 0.2s;
  opacity: 1;
  cursor: text;
}

#search:placeholder-shown + label {
  opacity: 0;
  top: 8px;
  left: 3px;
  font-size: 13px;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: rgb(199, 196, 196);
}

#search {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 0;
  padding: 2px 4px;
  border-bottom: 1px solid turquoise;
  outline: 0;
  color: white;
}


.branch-changer{
  width: 26%;
}
.batch-changer {
  width: 25%;
}

.cg-sg{
  width: 30%;
}

.sort{
  width: 38%;
}

.ser-box {
  width: 80%;
  margin: 40px auto;
}

select {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  background: transparent;
  color: white;
  border: 0.2px solid rgb(151, 151, 151);
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

option {
  color: white;
  padding: 10px;
  margin: 10px;
  background: black;
  cursor: pointer;
}

.nothing{
  text-align: center;
  /* display: none; */
}

.tot{
  width: 100% !important;
  padding: 0;
  padding-left: 10px;
  padding-bottom: 15px !important;
  /* padding-left: 0 !important; */
}

@media only screen and (max-width: 1200px){
  .ser-box{
    width: 98%;
  }
  #table{
    width: 98%;
  }
  .table_head{
    width: 98%;
  }
}


@media only screen and (max-width: 950px){
  .table-cell{
    padding: 10px 0;
  }
  .r{
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 750px){
  .branch{
    display: none;
  }
  .name{
    width: 55%;
  }
  .cg{
    width: 30%;
  }
  .rank{
    width: 10%;
  }
  .head{
    font-size: 15px;
  }
  .search, .branch-changer, .res{
    width: 98%;
    display: block;
    margin: 10px auto;
  }
}

.footer{
  position: absolute;
  line-height: 20px;
  text-align: center;
  height: 50px;
  background: black;
  left: 0;
  bottom: 0;
  display: block;
  width: 100vw;
  opacity: .9;
}

.credit{
  font-size: 12px;
  color: rgb(180, 179, 175);
}

.footer a{
  color: inherit;
  text-decoration: none;
}

.footer a:hover{
  color: aqua;
}

.specific{
  text-align: center;
  margin: 20px 0;
}

form{
  border: .1px solid turquoise;
  border-radius: 4px;
  margin: 10px;
}

form button{
  border-radius: 54%;
  background: transparent;
  border: 0;
  border-bottom: 0;
  color: white;
  padding: 6px 7px;
  cursor: pointer;
}

#roll_num{
  width: 80px;
  /* height: 20px; */
  background: transparent;
  border: 0;
  padding: 4px 6px;
  /* border: .1px solid turquoise; */
  outline: 0;
  color: white;
}

button:active{
  outline: 0;
  border: 0;
}

button:focus{
  outline: 0;
  border: 0;
}